# Object file
*.o

# Ada Library Information
*.ali
/hello_world/nbproject/private/
/hello_world/build/
/18.02_Casting/nbproject/private/
/18.02_PrimeiraClasse/nbproject/private/
/18.02_PrimeiraClasse/build/
/classCarro/nbproject/private/
/classCarro/build/
/Construtores_Agregacao/nbproject/private/
/Construtores_Agregacao/build/
/Composicao/build/
/Composicao/nbproject/private/
